<!-- Header Usuario con logeo y Rol asignado -->
<div th:fragment="navbar-administrativo">
    <navbar>
        <!-- <div class="contenedor-header" th:each="usuario:${usuario}"> -->
        <div class="contenedor-header">
            <div class="logo-header">
                <a th:href="@{/}">
                    <img class="img-logo-header" th:src="@{/imagenes/logo-seprice.png}" alt="logo">
                </a>
            </div>
            <div class="menu-header">
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/registrar-paciente.png}"
                        alt="registrar-paciente">
                    <p>Registrar Paciente</p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/agendar.png}"
                        alt="agendar">
                    <p>Agendar Turno</p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/agenda.png}"
                        alt="agenda">
                    <p> Agenda </p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/registrar-medico.png}"
                        alt="registrar-medico">
                    <p>Registrar Medico</p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/asignar-consultorio.png}"
                        alt="asignar-consultorio">
                    <p>Asignar Consultorio</p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/cargar-especialidad.png}"
                        alt="cargar-especialidad">
                    <p>Cargar Especialidad</p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/acreditar-turno.png}"
                        alt="acreditar-turno">
                    <p>Acreditar Turno</p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/sala-espera.png}"
                        alt="sala-espera">
                    <p>Sala de Espera</p>
                </a>
                <a class="link-a" th:href="@{/}"><img class="icono-header" th:src="@{/imagenes/llamar-consultorio.png}"
                        alt="llamar-consultorio">
                    <p>llamar a Consultorio</p>
                </a>

            </div>
        </div>
    </navbar>
</div>










<!-- Header link -->
<div th:fragment="header-link">
    <header>
        <div class="contenedor-header">
            <div class="logo-header">
                <a th:href="@{/}">
                    <img class="img-logo-header" th:src="@{/imagenes/logo.png}" alt="logo">
                </a>
            </div>
            <div class="menu-header">
                <a th:href="@{/usuario/iniciarSesion}"><img class="icono-header" th:src="@{/iconos/login.png}"
                        alt="login" style="width: 40px; height: 40px; margin-right: 15px;">
                    <br>
                    Login
                </a>
                <a th:href="@{/usuario/registro}"><img class="icono-header" th:src="@{/iconos/registro.png}"
                        alt="registro" style="width: 40px; height: 40px;">
                    <br>
                    Registro
                </a>
            </div>
        </div>
    </header>
</div>

<!-- Footer Usuario-->
<div th:fragment="footer-user">
    <footer>
        <div class="contenedor-footer">
            <div class="logo-footer">
                <a th:href="@{/}">
                    <img class="img-logo-header" th:src="@{/imagenes/logo.png}" alt="logo">
                </a>
            </div>
            <div class="texto-footer">
                <p>elavincho 2025 - All Right Reserved</p>
            </div>
        </div>
    </footer>
</div>

<!-- Footer Usuario-->
<div th:fragment="footer-bloqueado">
    <footer>
        <div class="contenedor-footer">
            <div class="logo-footer">
                <a th:href="@{/usuario/bloqueado}">
                    <img class="img-logo-header" th:src="@{/imagenes/logo.png}" alt="logo">
                </a>
            </div>
            <div class="texto-footer">
                <p>elavincho 2025 - All Right Reserved</p>
            </div>
        </div>
    </footer>
</div>

<!-- Footer Usuario sin Rol-->
<div th:fragment="footer-user-sin-rol">
    <footer>
        <div class="contenedor-footer">
            <div class="logo-footer">
                <a th:href="@{/usuario/homeNuevoUsuario}">
                    <img class="img-logo-header" th:src="@{/imagenes/logo.png}" alt="logo">
                </a>
            </div>
            <div class="texto-footer">
                <p>elavincho 2025 - All Right Reserved</p>
            </div>
        </div>
    </footer>
</div>