* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    margin-left: 4%;
    margin-right: 4%;
}


.dos-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.dos-columnas-80-20 {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    gap: 10px;
}

.centrado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.margin30 {
    margin: 30px;
}

.margin10 {
    margin: 10px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-left10 {
    margin-left: 10px;
}

.padding10 {
    padding: 10px;
}

.width-100 {
    width: 100%;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right30 {
    margin-right: 30px;
}



.icono-input {
    width: 20px;
    height: 20px;
}

.margin-login {
    margin: 10%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.max-width800 {
    max-width: 800px;
}

.color-violeta {
    color: blueviolet;
}

.margin-top150 {
    margin-top: 150px;
}


/* Estilos del navbar/header */

.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(11, 156, 76);
}

.borde-verde {
    border: solid 2px rgb(11, 156, 76);
}

.logo-header {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.img-logo-header {
    width: 75px;
    height: 75px;
    margin-left: 30px;
}

.menu-header {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: end;
}

.menu-header .link-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 20px;
}

.menu-header .link-a p {
    display: inline-block;
    text-align: center;
    font-size: 10px;
    justify-content: center;
}

.menu-header .link-a .icono-header {
    width: 30px;
    height: 30px;
}

.img-header {
    width: 40px;
    height: 40px;
}

.primera-columna {
    display: flex;
    flex-wrap: wrap;
}

.segunda-columna {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.contenedor-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    margin-right: 25px;
    align-items: center;
}

.img-principal {
    display: flex;
    max-width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
    align-self: center;
}

.tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.tarjeta-naranja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(253, 190, 106);
    width: 150px;
    height: 110px;
    margin-top: 10px;
    padding: 10px;
    color: rgb(80, 78, 78);
}

.tarjeta-verde {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(6, 185, 131, 0.7);
    width: 150px;
    height: 110px;
    margin-top: 10px;
    padding: 10px;
    color: rgb(80, 78, 78);
}

.numero-tarjeta {
    color: antiquewhite;
}

.texto-tarjeta {
    font-size: 12px;
    font-weight: bold;
}

.columna-principal {
    border: solid 2px rgb(11, 156, 76);
}


/* Sidebar */

.boton-sidebar {
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    border: solid 1px rgb(11, 156, 76);
    border-radius: 5px;
    height: 35px;
    width: 100%;
    margin-top: 10px;
}

.texto-sidebar {
    font-size: 10px;
    font-weight: 500;
    margin: 0;
    padding-left: 5px;
    color: rgb(11, 156, 76);
    height: 100%;
    display: flex;
    align-items: center;
}

.img-btn-sidebar {
    width: 30px;
    height: 30px;
    justify-self: end; /* Alinea la imagen a la derecha en la celda */
    margin-right: 5px;
}


/* ************ */


a {
    text-decoration: none;
}

