* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    margin-left: 4%;
    margin-right: 4%;
}


.dos-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dos-columnas-70-30 {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
}

.dos-columnas-20-80 {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.centrado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.margin30 {
    margin: 30px;
}

.margin10 {
    margin: 10px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-left10 {
    margin-left: 10px;
}

.padding10 {
    padding: 10px;
}

.width-100 {
    width: 100%;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right30 {
    margin-right: 30px;
}



.icono-input {
    width: 20px;
    height: 20px;
}

.margin-login {
    margin: 10%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.max-width800 {
    max-width: 800px;
}

.color-violeta {
    color: blueviolet;
}

.margin-top150 {
    margin-top: 150px;
}


/* Estilos del navbar/header */

.contenedor-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(11, 156, 76);
}

.borde-verde {
    border: solid 2px rgb(11, 156, 76);
}

.logo-header {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}

.img-logo-header {
    width: 75px;
    height: 75px;
    margin-left: 30px;
}

.menu-header {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: end;
}

.menu-header .link-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    margin-right: 20px;
}

.menu-header .link-a p {
    display: inline-block;
    text-align: center;
    font-size: 10px;
    justify-content: center;
}

.menu-header .link-a .icono-header {
    width: 30px;
    height: 30px;
}

.img-header {
    width: 40px;
    height: 40px;
}

.primera-columna {
    display: flex;
    flex-wrap: wrap;
}

.segunda-columna {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.contenedor-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    margin-right: 25px;
    align-items: center;
}

/* .columna-sidebar {
    background-color: rgb(233, 233, 233);
} */


.img-principal {
    display: flex;
    max-width: 250px;
    max-height: 250px;
}

.tarjeta-naranja {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(238, 164, 68);
    width: 110px;
    height: 75px;
    margin-top: 10px;
    padding: 10px;
    color: rgb(80, 78, 78);
}

.tarjeta-verde {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(32, 231, 172);
    width: 110px;
    height: 75px;
    margin-top: 10px;
    padding: 10px;
    color: rgb(80, 78, 78);
}

.numero-tarjeta {
    color: antiquewhite;
}

.texto-tarjeta {
    font-size: 10px;
    font-weight: bold;
}

.columna-principal {
    border: solid 2px rgb(11, 156, 76);
}

.img-btn-sidebar {
    width: 25px;
    height: 25px;
}

.boton-sidebar {
    /* background-color: rgb(11, 156, 76); */
    border: solid 1px rgb(11, 156, 76);
    /* color: #fff; */
    color: rgb(11, 156, 76);
    border-radius: 5px;
    margin-right: 5px;
    height: 35px;
    width: 130px;
    margin-top: 10px;
}

.contenedor-img-btn-sidebar {
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    width: 40px;
    align-items: center;
    margin-right: 5px;
}

.texto-sidebar {
    width: 90px;
    height: 30px;
    align-content: center;
    margin-left: 5px;
    font-size: 10px;
}

a {
    text-decoration: none;
}

